.container {
  border: 1px solid black;
  position: relative;
  height: 500px;
  margin: 20px;
  position: relative;
}

.card {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
